<link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>

.inner {
  position: relative;
  width: 98%;
  margin-top: 2%;
  margin-left: 1%;
  background-color: #fff;
  height: 65%;
  color: #ccc;
}

blockquote {
  font-family: 'Fjalla One', sans-serif;
  font-size: 60px;
  color: #ccc;
  border: 0 !important;
  //padding: 30px 25px 15px 25px;
}

blockquote footer {
  text-align: right;
  color: #fff !important;
  font-size: 30px;
  padding-top: 20px;
}

body {
  background-color: #ccc !important;
}

.mybox {
  position: relative;
  width: 60%;
  margin: 10% 20%;
  //height: 50%;
  background-color: #fff;
  border-radius: 5px;
}

.lower {
  position: relative;
  width: 98%;
  ;
  margin-top: 2%;
  margin-left: 1%;
  margin-bottom: 5%;
  //background-color: #aaa;
  //height: 20%;
}

.mybox button{
  color:#fff;
}

blockquote footer{
  color:#ccc !important;
}
