<link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>

div.shell {
  display: block;
  max-width: 670px;
  margin: 0 auto;
  background-color: #fff !important;
}

.mybox {
  position: relative;
  width: 60%;
  margin: 10% 20%;
  border-radius: 5px;
}
.mybox button{
  color:#fff;
  margin: 15px !important;
}

.inner {
  position: relative;
  width: 98%;
  margin-top: 2%;
  margin-left: 1%;
  height: 65%;
  color: #ccc;
}

blockquote {
  font-family: 'Fjalla One', sans-serif !imporatant;
  font-size: 35px !important;
  color: #ccc;
  border: 0 !important;
  //padding: 30px 25px 15px 25px;
}

blockquote footer {
  text-align: right;
  color: #ccc !important;
  font-size: 20px !important;
  padding-top: 20px !important;
  padding-right:20px !important;
}

.lower {
  position: relative;
  width: 98%;
  margin-top: 2%;
  margin-left: 1%;
  margin-bottom: 5%;
}
