<link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>

html, body {
  width: 100%;
  height: 100%;
}

div.shell {
  /*max-height: 450px;*/
  max-width: 600px;
  margin: 10% auto;
  overflow: hidden;
  background-color: #fff;
  border-radius: 5px;
}

.mybox {
  position: relative;
  width: 90%;
  margin: 5% 5%;
}
.mybox button{
  color:#fff;
  margin: 15px !important;
  /*background-color: #ccc;*/
}

.inner {
  position: relative;
  width: 98%;
  margin-top: 2%;
  margin-left: 1%;
  height: 65%;
}

blockquote {
  font-family: 'Fjalla One', sans-serif !imporatant;
  font-size: 35px !important;
  border: 0 !important;
  padding: 30px 25px 15px 25px;
}

blockquote footer {
  text-align: right;
  font-size: 20px !important;
  padding-top: 20px !important;
  padding-right:20px !important;
}

.lower {
  position: relative;
}

.btn-default {
  color: #fff !important;
  font-size: 20px;
}

a{
  margin-bottom: 10px;
}

.
